/* Site Stylesheet
    1.Global Styles
    2.Typography Styles
    3.Structure Styles
    4.Module Styles
    5.Components
================================*/
/* 1.Global styles
================================ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 2.Typography Styles 
================================*/

/* 3.Structure Styles 
================================*/
/* homepage */
#container-main{
    background-color: rgb(91,39,39);
}

.main-background{
    background-image: url('/static/img/background_image-PhotoRoom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 56.25rem;
    width: 100%;
}

.title-homepage{
    background-color:rgb(240,120,68);
    margin-bottom: 0px;
    text-align: center;
    color: aliceblue;
    
}

.container-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(91,39,39) ;
    padding-bottom: 40px;
    padding-top: 40px;
    
}

.container-homepage-button-vendors{
    position: relative;
    width: 31.25rem;
    height: 31.25rem;
    background-color: rgb(254,242,192);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    font-size: 2.5rem;
}
.container-homepage-button-vendors:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: url('/static/img/pexels-ali-alcántara-12203728.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
    }
    
.container-homepage-button-vendors:hover:before {
opacity: 1;
}


.container-homepage-button-restaurants {
position: relative;
width: 31.25rem;
height: 31.25rem;
background-color: rgb(254,242,192);
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
overflow: hidden;
text-decoration: none;
font-size: 2.5rem;
}

.container-homepage-button-restaurants:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
background-image: url('/static/img/mexican-restaurant.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
transition: opacity 0.5s ease-in-out;
text-decoration: none;
}

.container-homepage-button-restaurants:hover:before {
opacity: 1;
}

.buttons-homepage-vendors,
.buttons-homepage-restaurant {
  color: rgb(4, 160, 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-shadow: 4px 4px 5px rgba(4, 160, 100, 0.3);
  line-height: 1.6;
}

/* tacovendors */
.filter-image{
    cursor: pointer;
}

#container-for-vendor-map{
    display: flex;
}










/* 5.Components 
================================*/
img{
    height: 100px;
    width: 100px;
}

/* Set the size of the div element that contains the map */
#map {
    height: 25rem; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    margin:auto; /*centers the map*/
}

/* filter */
.filter-image{
    height: 30px;
    width: 30px;
}

