/* Site Stylesheet
    1.Global Styles
    2.Typography Styles
    3.Structure Styles
    4.Module Styles
    5.Components
================================*/
/* 1.Global styles
================================ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}

/* 2.Typography Styles 
================================*/

/* 3.Structure Styles 
================================*/
/* homepage */
#container-main{
    background-color: rgb(91,39,39);
}

.main-background{
    background-image: url('/static/img/background_image-PhotoRoom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 56.25rem;
    width: 100%;
}

.title-homepage{
    background-color:rgb(240,120,68);
    margin-bottom: 0px;
    text-align: center;
    color: aliceblue;
    
}

.container-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(91,39,39) ;
    padding-bottom: 40px;
    padding-top: 40px;
    
}

.container-homepage-button-vendors{
    position: relative;
    width: 31.25rem;
    height: 31.25rem;
    background-color: rgb(254,242,192);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    font-size: 2.5rem;
}
.container-homepage-button-vendors:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: url('/static/img/pexels-ali-alcántara-12203728.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
    }
    
.container-homepage-button-vendors:hover:before {
opacity: 1;
}


.container-homepage-button-restaurants {
position: relative;
width: 31.25rem;
height: 31.25rem;
background-color: rgb(254,242,192);
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
overflow: hidden;
text-decoration: none;
font-size: 2.5rem;
}

.container-homepage-button-restaurants:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
background-image: url('/static/img/mexican-restaurant.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
transition: opacity 0.5s ease-in-out;
text-decoration: none;
}

.container-homepage-button-restaurants:hover:before {
opacity: 1;
}

.buttons-homepage-vendors,
.buttons-homepage-restaurant {
  color: rgb(4, 160, 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-shadow: 4px 4px 5px rgba(4, 160, 100, 0.3);
  line-height: 1.6;
}

/* tacovendors */
.filter-image{
    cursor: pointer;
}

#container-for-vendor-map{
    display: flex;
}

#container-title-filter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#container-title-vendors{
    display: flex;
    justify-content: center;
    align-content: center;
}
.title-vendorspage{
    color: rgb(235,107,60);
}
.buttons-filter-position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cancel-button-filter{
    margin-left: 0.938rem;
}

.vendor-item {
  border: 1px solid #ccc;
  padding: 0.625rem;
  margin-bottom: 0.313rem;
  padding: 0.625rem;
  width: 25rem;
  border-radius: 10px;
}
#li-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-for-info-vendors{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


/* vendor_info */
.title-vendor-info{
    color: rgb(235,107,60)
}
#container-vendor-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-for-image-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-taco-vendor-info{
    margin: 1.25rem 2.5rem 1.25rem 1.25rem;
}
.image-taco-vendor-info img{
    height: 12.5rem;
    width: 12.5rem;
}

#container-map-direction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
}
#container-for-map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.direction-form-containers{
    margin: 0.625rem;
}

.button-direction{
    margin: 0.625rem;
}


.directions-map-flex-row {
    display: flex;
    flex-direction: row;
    
    
  }

#container-output{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#panel {
    overflow-y: scroll;
    height: 25rem; /* Set a fixed height to limit the size of the panel */
  }




/* 1778 Oakland road apt22 */

/* 5.Components 
================================*/
img{
    height: 100px;
    width: 100px;
}

/* Set the size of the div element that contains the map */
#map {
    height: 25rem; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    margin:auto; /*centers the map*/
}

/* filter */
.filter-image{
    height: 30px;
    width: 30px;
}

