{% extends 'base.html'%}
{% block title %}Change password{% endblock %}
{% block head %}{% endblock %}

{% block body %}
<div id="container-form-changew-password">
        {% for message in get_flashed_messages() %}
                <h1 id="message">{{message}}</h1>
        {% endfor %}
        <div id="container-form-info-change-password">
                <h1>Change Password</h1>
                
                <form action="/changePassword" method="POST">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email" required>
                    <br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password" required>
                    <br>
                    <label for="new_password">New Password</label><br>
                    <input type="password" name="new_password" id="new_password" required>
                    <br>
                    <div id="button-change-passs">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="button" onclick="location.href='/userProfile'" class="btn btn-primary">Cancel</button>
                    </div>
                </form>
        </div>
</div>


{% endblock %}