{% extends 'base.html'%}
{% block title %}Mexican Restaurant{% endblock %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock%}

{% block body %}
<div id="container-vendor-info">
  <h1 class="title-vendor-info">Welcome to {{name}} </h1>
  <div class="image-taco-vendor-info">
    <img src="{{image_url}}" alt="image">
  </div>
  <div class="taco-vendor-information">
    <p>Address: {{address}}</p>
    <p>Phone: {{phone}}</p>
    <p>Rating: {{rating}}</p>
  </div>
    <a href="{{url}}"><button>reviews</button></a>
</div> 
<hr style="color: #04A064;">
<br>

<!-- directions -->
<div id="container-map-direction">
  <div>
    <h1 class="title-vendor-info" >Directions</h1>
  </div>
  <div id="container-for-map">
    <div class="direction-form-containers">
      <label for="origin">Origin:</label>
      <input type="text" id="origin" name="origin" placeholder="Type address" class="origin-autocomplate">
      <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="direction-form-containers">
      <label for="destination">Destination:</label>
      <input type="text" id="destination" value="{{address}}" name="destination">
      <i class="fa-solid fa-flag-checkered"></i>
    </div>
  </div>
  <div class="button-direction">
    <button onclick="calculateRoute()">Directions</button>
  </div>
  
</div>
 <!-- google maps container -->
<div id="container-map-output">
  <!-- google maps -->
 <div id="map"></div>
  <!-- pannel for directions -->
  <div id="panel" style="display: none;"></div>
</div>



<div id="container-output">
  <!-- output for google maps -->
  <div id="output"></div>
</div>
 
<!-- hidden elements -->
<p id="coord" style="display:none">{{coordinates}}</p>
<p id="phone" style="display:none">{{phone}}</p>
<p id="rating" style="display:none">{{rating}}</p>
<p id="business-name" style="display:none">{{name}} </p>



<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_6bTYpouO3j8eJSzy_Fx61zyZ9SknsXo&callback=initMap&v=weekly"
  defer
></script>

<script src="/static/js/restaurant_info.js"></script>


{% endblock %}