{% extends 'base.html'%}

{% block title %}Profile{% endblock %}

{% block head %}

{% endblock %}

<!-- body -->
{% block body %}
<div class="container-profile">
    <br>
    <div>
        <form action="/userProfileEdit" method="POST" enctype="multipart/form-data">

            <label for="user-image" ><i class="fa-solid fa-user fa-2xl"></i></label><br>
            <input type="file" name="my-file" id="user-image" style="display: none;" required>
            <button id="add-image-button">Add image</button>
            <button id="user-image-button-submit" style="display: none;" type="submit">submit</button>
        
        </form>
        
    </div>

</div>
<script>
    // add photo
    add_image_button = document.getElementById('add-image-button')
    add_image_button. addEventListener('click',(e)=>{
        e.preventDefault();
        document.getElementById('user-image').removeAttribute('style');
        e.target.setAttribute("style","display:none;")
        document.getElementById("user-image-button-submit").removeAttribute('style');
       

        
    });
</script> 
{% endblock %}