{% extends 'base.html' %}
<!-- title -->
{% block title %}Top 5 ratings{% endblock %}
<!-- head -->
{% block head %}

{% endblock %}
<!-- body -->
{% block body %}
<h1>Top 5 ratings</h1>

{% for idx in range(top_five_array|length) %}
    <h2>{{idx + 1}}.</h2>
    <p>{{top_five_vendors_from_user[idx].vendor_name}}</p>
    <p><img src="{{top_five_vendors_from_user[idx].image}}" alt="vendor image"></p>
    <p>Rating:{{top_five_vendors_rate[idx]}}</p>
    <p>Users rate for vendor:{{top_five_array[idx].score}}</p>
    
{% endfor %}
{% endblock %}
